<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Pick A Book Category</h1>
    <form action="/" method="post">
        <select name="bookType">
            <option value="default"></option>
            <option value="0">Arts & Photography</option>
            <option value="1">Biographies & Memoirs</option>
            <option value="2">Business & Money</option>
            <option value="3">Calendars</option>
            <option value="4">Children's Books</option>
            <option value="5">Comics & Graphic Novels</option>
            <option value="6">Computers & Technology</option>
            <option value="7">Cookbooks, Food & Wine</option>
            <option value="8">Crafts, Hobbies & Home</option>
            <option value="9">Christian Books & Bibles</option>
            <option value="10">Engineering & Transportation	</option>
            <option value="11">	Health, Fitness & Dieting</option>
            <option value="12">History</option>
            <option value="13">	Humor & Entertainment</option>
            <option value="14">Law</option>
            <option value="15">	Literature & Fiction</option>
            <option value="16">Medical Books</option>
            <option value="17">Mystery, Thriller & Suspense	</option>
            <option value="18">Parenting & Relationships</option>
            <option value="19">Politics & Social Sciences</option>
            <option value="20">Reference</option>
            <option value="21">Religion & Spirituality</option>
            <option value="22">Romance</option>
            <option value="23">Science & Math</option>
            <option value="24">Science Fiction & Fantasy</option>
            <option value="25">Self-Help</option>
            <option value="26">	Sports & Outdoors</option>
            <option value="27">Teen & Young Adult</option>
            <option value="28">Test Preparation</option>
            <option value="29">	Travel</option>
        </select>
        <button type = "submit">Get Recomendation!</button>
    </form>
   
</body>
</html>